{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Create new Order</h1>

    {{ component('SaleOrderComponent', {
        initialFormData: order,
        type: type,
    }) }}
{% endblock %}
